// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
.all_all {
	text-align: center;
}

.all {
	margin-top: 10em;
	width: 30%;
}

.show {
	color: white;
	font-family:  Rampung;
}

.all p{
		color: white;
}

strong {
			font-weight: normal;

}

body {
	background-color: red;
}
.bienvenue {
	text-align: center;
	margin: auto;
	margin-top: 140px;
	color:white;

}

.welcome1 {
	font-size: 170px;
	font-family:  Edo SZ;


}

.welcome2 {
	font-size: 60px;
	margin-bottom: -30px;
	font-family:  Rampung;

}
.bouton {
	margin: auto;
	margin-top: 100px;
	text-align: center;

}

a.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
a.first:hover {
  box-shadow: 0 0 40px 40px #fff inset;
	color: red;
}

a.btn {
	width: 12%;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0.6em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
